# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
conversations.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
__MACOSX

# Style
styles.css
package-lock.json

# Exclude output directories
output/
dist/
*.zip

# Ignore environment variables
.env

# Ignore log files
*.log
